<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.phonegap.TestforCMS"
        version = "1.0.0">

        <name>Testerm Application</name>

        <description>
        A test application for PhoneGap
        </description>

        <author href="seneca.nl" email="svankonijnenburg@seneca.nl">
        S vk
        </author>

        <icon src="img/icon.png" width="72" height="72" ></icon>

        <gap:splash src="splash.png"/>
		<gap:plugin name="ChildBrowser" /> <!-- latest release -->


        <feature name="http://api.phonegap.com/1.0/geolocation"/>
        <feature name="http://api.phonegap.com/1.0/network"/>
</widget>