<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.phonegap.TestforCMS"
        version = "1.0.0">

        <name>TestforCMS</name>

        <description>
        A test application for PhoneGap
        </description>

        <author href="seneca.nl" email="svankonijnenburg@seneca.nl">
        S vk
        </author>
	
		<feature name="http://plugins.phonegap.com/ChildBrowser/2.0.1"/>
        <feature name="http://api.phonegap.com/1.0/geolocation"/>
        <feature name="http://api.phonegap.com/1.0/network"/>
		
		<preference name="phonegap-version" value="2.0.0" />

</widget>